@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    font-size: 62.5%;

    --cor-shadow: hsl(235, 36%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

html, body {
    height: 100%;
    background-color:#1b1909;
    font-size: 1.6rem;
}

p, i, h1 {
    color: rgb(255, 255, 255);
}

i{
    font-size:  3.2rem;
}

h1 {
    font-size: 3.2rem;
    letter-spacing: 1px;
}

/* conteudo */

section {
    display: flex;
    align-items: center;
    height: 100%;
}

.text-p {
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    text-align: center;
}
.container {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.painel {
    display: grid;
    margin: 0.4rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    width: min(42.5rem, 60%);
    padding: 1rem;
    border-radius: 10rem;
    background-color: #242222;
}

.player{
    padding-top: 1rem;
    margin: 0.8rem;
    height: 4rem;
    width: min(42.5rem, 33rem);
    text-align: center;
    background-color: #242222;
    border-radius: 10rem;
}

.controls p {
    padding-right: 0.2rem;
}

.button {
    cursor: pointer;
    color: aliceblue;
    border: none;
    display: grid;
    margin: 1.5rem;
    text-align: center;
    width: 20rem;
    padding: 1rem;
    border-radius: 10rem;
    background-color: #242222;
}

.painel p {
    opacity: .8;
    transition: 1s ease-in;
}

.painel p.active {
    opacity: 1;
    color: #00a6ff;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: #242222;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: #00a6ff;
    position: relative;
}

.circle::before {
    content: " ";
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: #1b1909;
    ;
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
}

.controls {
    margin-top: 3rem;
}

.controls button {
    border: none;
    background-color: transparent;
}

.controls #reset {
    display: none;
}
